################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/Jobshop/.vs/Jobshop/v15/ipch
/Jobshop/.vs/Jobshop/v15
/Jobshop/Jobshop/x64/Debug
/Jobshop/Jobshop/Debug/Jobshop.tlog
/Jobshop/Jobshop/Debug
/Jobshop/Debug
