################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/test/.vs/test/v15
/test/.vs/Jobshop/v15
/test/test/Debug
